@model IEnumerable<ClinicalCenter.Entities.ViewModels.StaffViewModel>
@using Microsoft.AspNetCore.Http

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/MedicalExaminationOnDiscount.css" rel="stylesheet" />

</head>

<body>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" style="background-color: lightblue" href="https://localhost:44389/ClinicPage/@Context.Session.GetString("Id")">Profil Klinke</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="background-color: lightblue" href="https://localhost:44389/ClinicExamination/@Context.Session.GetString("Id")">Spisak specijalizovanih pregleda </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"  href="https://localhost:44389/MedicalStaff/@Context.Session.GetString("Id")">Spisak zdravstvenih radnika </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="background-color: lightblue" href="https://localhost:44389/MedicalExaminationOnDiscount/@Context.Session.GetString("Id")">Prgledi na popustu </a>
        </li>

    </ul>
    <div class="container">
        <br><br>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th style="width:25%">Ime i Prezime doktora</th>
                        <th style="width:50%">Biografija</th>
                        <th style="width:15%">Radno vreme</th>
                        <th style="width:10%">Zakazi pregled</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Info)
                        </td>
                        <td>
                            Od  @Html.DisplayFor(modelItem => item.ShiftStart) Do @Html.DisplayFor(modelItem => item.ShiftEnd)
                        </td>
                        <td>
                            <input type="submit" value="Zakazi pregled">
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

    </div>
</body>
</html>